<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/styles.css">
  </head>

  <body>

  	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<% include partials/site-navigation.ejs %>	
  	
  	<!-- Main Content Area -->
	<section>
		<div class="content ">
			<!--  Breadcrumb -->
			<h3 class="inline-header">Home > Categories > Item</h3>
			<!-- Details about Items -->
			<article>

				<div class="page-info">
					<!-- Picture of item from database -->
					<img class="item-img-style float-left" src = "<%= item.image_url %>" alt = "item-image"/>
				</div>
				<div class="float-left">
					<!-- Name of the item from database -->
					<div class="item-name"> <%= item.name %> </div>
					<!-- <div class="item-author"> by Peter Jackson </div> -->

					<!-- Button to add the item to items for swap list 
					Swap it button is to request a swap for an item
					-->
					<% if(itemStatus === 'pending') {
						if(swapIt === "yes") {%>
							<h2> You have a swap offer for this item</h2>
							<a class="btn-style-mySwap" href= "/mySwaps"> See the offer </a>
						<%} else {%>
							<!-- TODO: <h2> You have received an offer for this item </h2> -->
							<h2> You have offered this item </h2>
							<a class="btn-style-mySwap" href= "/mySwaps"> See the offer </a>
						<%}%>
					<%} else if(itemStatus === 'swapped'){%>
						<h2> You've swapped this item </h2>
					<%}  else {%>
						<%if(swapIt === "yes"){%>
						<a href="/myItems/offer/<%= item.code%>"><div class="swap btn-style"><i class="fas fa-exchange-alt fa-swap-item"></i><span class="text-color"> Swap it</span></div></a>
					<%}}%>

					<!-- Rate the item --> 
					<a href="#"><div class="rate btn-style"><i class="fas fa-star fa-star-item"></i><span class="text-color"> Rate it</span></div></a>
				</div>

				<div class="item-content float-right">
					<!-- Item detailed description from the database -->
					<%= item.description %>
				</div>

				<!-- Category of item -->
				<div class="text-style2">  Category: 
					<!-- Back Link to return to the catalog and category displayed based on database -->
					<a href = "/subCategories?catalogCategory=<%= item.category %>" > <%= item.category %> </a>
				</div>

				<!-- Average Rating of item based on database -->
				<div class="text-style2"> Average Rating: <%= item.rating %></div>
			</article>
		</div>
	</section>

	<% include partials/footer.ejs %>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>