<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/styles.css">
  </head>

  <body>

  	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<div class="content-container container-fluid">
		<% include partials/site-navigation.ejs %>	
	  	
		  	<!-- Main Content Area -->
			<section class="col-lg-10">
				<div class="content ">
					<div class="inline-header">
		              <!--  Breadcrumb -->
		              <nav aria-label="breadcrumb">
		                <ol class="breadcrumb">
		                  <li class="breadcrumb-item" aria-label="breadcrumb"><a href="/">Home</a></li>
		                  <li class="breadcrumb-item" aria-label="breadcrumb"><a href="/subCategories?catalogCategory=<%= item.category %>"><%= item.category %></a></li>
		                  <li class="breadcrumb-item" aria-label="breadcrumb" aria-current="page"><span class="breadcrumb-active"><%= item.name %></span></li>
		                </ol>
		              </nav>
		          	</div>
					<!-- Details about Items -->
					<article>

						<div class="page-info">
							<!-- Picture of item from database -->
							<img class="item-img-style float-left" src = "<%= item.image_url %>" alt = "item-image"/>
						</div>
						<div class="float-left">
							<!-- Name of the item from database -->
							<div class="item-name"><h1> <%= item.name %> </h1></div>
							<!-- <div class="item-author"> by Peter Jackson </div> -->

							<!-- Button to add the item to items for swap list 
							Swap it button is to request a swap for an item
							-->
							<% if(itemStatus === 'pending') {
								if(swapIt === "yes") {%>
									<h5 class="ml-4"> You have a swap offer for this item</h5>
									<a href= "/mySwaps"> <button class="btn btn-style-mySwap a-hover-color ml-4"> See the offer </button></a>
								<%} else {%>
									<!-- TODO: <h5> You have received an offer for this item </h5> -->
									<h5 class="ml-4"> You have offered this item </h5>
									<a href= "/mySwaps"><button class="btn btn-style-mySwap a-hover-color ml-4" href= "/mySwaps"> See the offer </button></a>
								<%}%>
							<%} else if(itemStatus === 'swapped'){%>
								<h5 class="ml-4"> You've swapped this item </h5>
							<%}  else {%>
								<%if(swapIt === "yes"){%>
								<a class="a-disabled" href="/myItems/offer/<%= item.code%>"><button class="btn swap btn-style"><i class="fas fa-exchange-alt fa-swap-item"></i><span class="text-color a-hover-color"> Swap it</span></button></a>
							<%}}%>

							<!-- Rate the item --> 
							<% if(sessionStatus === false) { %>
								<a class="a-disabled" href="/login">
									<button data-toggle="tooltip" title="Login to Rate" class="btn rate btn-style rate-disabled">
										<i class="fas fa-star fa-star-item"></i>
										<span class="text-color"> Rate it</span>
									</button>
								</a>

							<% } else { %>
									<form class="item-rating ml-3" method = "POST" action="/confirmRating">
										<input type = "hidden" value= "<%= item.code %>" name="itemCode">
										<button data-toggle="tooltip" title="Sucks big time - 1 star" class="btn rate-btn" type="submit" name="rating" value="1" id="star1"><i class="fa fa-star fa-rate-item" ></i></button>
										<button data-toggle="tooltip" title="Kinda bad - 2 stars" class="btn rate-btn" type="submit" name="rating" value="2"><i class="fa fa-star fa-rate-item" ></i></button>
										<button data-toggle="tooltip" title="Meh - 3 stars" class="btn rate-btn" type="submit" name="rating" value="3"><i class="fa fa-star fa-rate-item" ></i></button>
										<button data-toggle="tooltip" title="Pretty good - 4 stars" class="btn rate-btn" type="submit" name="rating" value="4"><i class="fa fa-star fa-rate-item" ></i></button>
										<button data-toggle="tooltip" title="Awesome - 5 stars" class="btn rate-btn" type="submit" name="rating" value="5"><i class="fa fa-star fa-rate-item" ></i></button>
									</form>
							<% } %>
							
						</div>

						<div class="item-content float-right">
							<!-- Item detailed description from the database -->
							<%= item.description %>
						</div>

						<!-- Category of item -->
						<div class="text-style2">  <span class="main-color"> Category: </span>
							<!-- Back Link to return to the catalog and category displayed based on database -->
							<a href = "/subCategories?catalogCategory=<%= item.category %>" > <%= item.category %> </a>
						</div>

						<!-- Average Rating of item based on database -->
						<div class="text-style2"> <span class="main-color"> Average Rating: </span><%= item.rating %></div>
					</article>
				</div>
			</section>
		</div> <!-- Row ends -->
	</div> <!-- Container ends -->

	<% include partials/footer.ejs %>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>