<!-- Profile View of the User -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/styles.css">
  </head>

  <body>

  	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<div class="content-container container-fluid">
		<% include partials/site-navigation.ejs %>	

		<!-- Main Content Area -->
		<section class="col-lg-10">
			<div class="content ">
				<div class="inline-header">
	              <!--  Breadcrumb -->
	              <nav aria-label="breadcrumb">
	                <ol class="breadcrumb">
	                  <li class="breadcrumb-item" aria-label="breadcrumb"><a href="/">Home</a></li>
	                  <li class="breadcrumb-item" aria-label="breadcrumb" aria-current="page"><span class="breadcrumb-active">My Catalog</span></li>
	                </ol>
	              </nav>
	          	</div>
				<% if(Object.keys(userItemList).length === 0) {%>
					<h3 class="badge badge-info itemMsg"> There are no items to display <a href="/addItem" class="btn btn-style a-hover-color"> Add Item </a> </h3>
					
				<%}else{%>
				<article>
					<!-- Details of myItems -->
					<h1 class="text-style">  Catalog for Swapping </h1>
					<a href="/addItem" class="btn btn-style a-hover-color"> Add Item </a>
					<div class="item-content">
						<table>
							<thead class="border-bottom-style">
								<tr>
									<th>Item</th>
									<th>Category</th>
									<th>My Rating</th>
									<th>Swapped</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody class="border-bottom-style">
									<% Object.keys(userItemList).forEach((item, index) => { %>
										<tr>
										<td><a href="/item?itemCode=<%= userItemList[item].code %>"><%= userItemList[item].name %></a></td>
										<td><a href= "/subCategories?catalogCategory=<%= userItemList[item].category %>"><%= userItemList[item].category %></a></td>
										<td>
											<% for(var i = 0; i < userItemList[item].rating; i++) {%>
												<i class="fas fa-star">
											<%}%>
										</td>
										<% if(userItemList[item].status === 'available') {%>
											<td></td>
										<%}else if(userItemList[item].status === 'pending'){%>
										<td> <i class="fas fa-exchange-alt"></i></td>
										<%} else if(userItemList[item].status === 'swapped'){%>
											<td> <i class="fas fa-check"></i></td>
										<%}%>
										<td> <a class="a-disabled" href="/myItems/update/<%= userItemList[item].code %>"><button class="btn a-hover-color btn-style"> Update </button></a> </btn td>
										<td> <a class="a-disabled" href="/myItems/delete/<%= userItemList[item].code %>"><button class="btn a-hover-color btn-style"> Delete </button></a> </btn td>
									</tr>	
									<% }) %>
								</tr>
							</tbody>
						</table>
						<div class="myItems-legend">
							<p> Legend: <i class="fas fa-exchange-alt"></i> Swap offer available <i class="fas fa-check"> </i> already swapped</p>
						</div>
					</div>
				</article>
				<%}%>
			</div>
		</section>
		</div> <!-- Row ends -->
	</div> <!-- Container ends -->

	<% include partials/footer.ejs %>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>