<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Swapping Auction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="styles/css-reset.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/styles.css">
  </head>

  <body>

  	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<% include partials/site-navigation.ejs %>	

	<!-- Main Content Area -->
	<section>
		<div class="content ">
			<!--  Breadcrumb -->
			<h3 class="inline-header">Home > My Swaps</h3>
			<article>
				<!-- mySwaps Page - Active Swap Offers -->
				<h1 class="text-style-swap-offer"> <%= name %> Swap Offers </h1>
				<div class="item-content">

					<table>
						<thead class="border-bottom-style">
							<tr>
								<th>Item</th>
								<th>Swap Offer</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody class="border-bottom-style">
							<% Object.keys(swapList).forEach((item) =>{%>
								<tr>
									<td><a href="/item?itemCode=<%= swapList[item].code%>"><%= swapList[item].name %></a></td>
									<td><a href="/item?itemCode=<%= swapItemList[item].code%>"><%= swapItemList[item].name %></a></td>
									<% if(actionList[item] === "withdraw") {%>
									<td> <a href="/myItems/withdraw/<%= swapList[item].code%>"><div class="btn-style"> Withdraw Swap </div></a> </td>
									<%} else {	%>
									<td> <a href="/myItems/accept/<%= swapList[item].code%>"><div class="btn-style-mySwap"> Accept </div></a> <a href="/myItems/reject/<%=  swapList[item].code%>"><div class="btn-style-mySwap2"> Reject </div></a></td>
									<%}%>
								</tr>
							<%});%>
						</tbody>
					</table>
					<div class="myItems-legend">
						<p> Legend: <i class="fas fa-exchange-alt"></i> Swap offer available <i class="fas fa-check"> </i> already swapped</p>
					</div>
				</div>
			</article>
		</div>
	</section>

	<% include partials/footer.ejs %>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>